*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #002E48; 
}

.container {
    display: flex;
    width: 1000px;
    max-width: 100%;

    
}
    
.box {
    width: 900px;
    height: 450px;
    /* margin-top: 166px; */
    margin: 0 10px; 
    padding-top: 166px;
}


.box1 {
    max-width:60%;
    background: #00507C33;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 38px 0px #00000040;
    border-radius: 32px 0px 0px 32px;
    

   
}

.box2 {
    background-color: #000000;
    width: 40%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius:0px 32px 32px 0px;
    position: relative;   
}

.box1 h1{
    font-size: 3.25rem;
    font-weight: 700;
    color:white;
    opacity: 85%;
    line-height: 61.62px;
    padding-left: 90px;
    margin-top: 20px;
}

.input-control input{
    width:70%;
    height: 48px;
    margin:10px;
    border-radius: 48px;
    position: relative;
}

/* .box1 .form input{ 
    display:block;
    margin: 20px;
    margin-left: 130px; 
    padding:15px;
    outline: 0;
    border-radius: 40px;
    border:none;
    width:70%;
    position: relative;    
}
  */
.fa-user{
    position:absolute;
    left:0;
    /* height: 100%; */
    display:flex; 
    align-items: center;
    color:#00507C;
    border: 2px solid;
}


.circle{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-left: 90px ;
    margin-top: 10px;
}

.pcircle{
    display: inline-flex;
    gap:10px;
    color:white;
    margin-right: 80px; 
    
}

.circle p,span{

font-family: Rubik;
font-size: 1.25rem;
font-weight: 500;
line-height: 23.7px;
text-align: left;
color:#B93E04;
margin-top: 5px;
}

 button{
    background-color: #1852F2;
    color:white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.form, p{
    font-family: Rubik;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
    color:white;
    text-align: center;
     margin-top: 10px; 
}


.box2 h2{
    font-family: Rubik;
    font-size: 2rem;
    font-weight: 500;
    line-height: 44.4px;
    text-align: center;
    color:#E5E5E5;
    margin-top: 24px;
}


.box2 img{
    width:100%;
    height: 250px; 
    /* width:300.42px; */
    /* height:auto; */
    margin: 0 auto;
    position: absolute;
    top: 90px;
    right:5px;
}

 .box2 .art {
    position: absolute;
    top:220px; 
    bottom:px;
    z-index: 1;
     } 
