*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Circular-std';
    src: url('circular-std\ \(1\)/.ttf');
  }
  

body{
     /* overflow-x: hidden; */
     /* width:100%; */
     font-family: 'Circular-std', sans-serif; 
     max-width:  1,282px; 
     
     margin: 0 auto;
     
}
header{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width:90%;
    padding: 10px;
    margin-top: 20px;
}

header img{
   margin-left: 50px; 
   cursor: pointer;
   margin-bottom:10px ;
}

 .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 31px;

}
.links li{
    list-style: none;
    
}
.links li a{
text-decoration: none;
color:#20262A;
margin-right: 60px ;

}


.primary-cta{
    padding: 20px 36px 20px 36px;
    border-radius: 85px ;
    border:none;
    border: 1px solid #00B6F0;
    background-color: white;
    margin-right: 30px;
}
.primary-cta a{
    color:#00B6F0;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.hero{
    margin: 0 auto;
    background-image: url("image/Vector-5.png"), url("image/Vector-6.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom right;
    
}

.part1{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(#FFFFFF38,#00e1c77a,#FFFFFF);
    position: relative;
}

.part1 h1{
    font-size: 4.5rem;
    font-weight: 900;
    margin-top: 100px;
    line-height: 78px;
    letter-spacing: 0.2px;
    text-align: center;
}

.part1 p{
    text-align: center;
    font-weight: 450;
    font-size: 1.5rem;
    line-height: 38px;
    margin-top: 27px;
   color: #5C5C5C;
}

.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap:20px;
    position: relative;
}

.primary{
    border-radius: 85px;
    background-color: #00B6F0;
    border:none;
    padding: 20px 36px 20px 36px;
}

.primary a {
    text-decoration: none;
    color:white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.secondary{
    border-radius: 85px;
    background-color:white;
    border:none;
    padding: 20px 36px 20px 36px;
}

.secondary a {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color:#20262A;
}

.vector{
    background-image: url(image/Vector\ \(5\).png);
    /* position: absolute; */
    /* left: 0px; */
    /* bottom:10px; */
    /* max-width: 100%; */
    /* height: 100%; */
    
}

.scaler{
    background-image: url(image/Vector\ \(6\).png);
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 100%;
    height: 80%;
    /* left:1000px; */
    /* top: 450px; */
}

.screen{
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
    position: absolute;
    top:350px;
    width:100%;
    height:auto;
    object-fit: cover;
    object-position: center;
    }

    /* .screen img{
        position: absolute;
        bottom:1px;
        top:
    } */
.parttwo .test{
    margin-top: 700px;
    text-align: center;
    color:#F3CD03;
    font-size:2.25rem ;
    font-weight: 450;
    /* position: relative; */
}

 .parttwo h1{
    margin-top: 17px;
    font-weight: 700;
    font-size:3.5rem;
    text-align: center;
}

.parttwo p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    line-height: 38px;
    font-weight: 450;
    letter-spacing: 0.2px;
    color:#5C5C5C;
}

.btn2{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 59px;
}

.primary1{
    border-radius: 85px;
    background-color: #00B6F0;
    border:none;
    padding: 20px 40px 20px 40px;
}

.primary1 a {
    text-decoration: none;
    color:white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}


.secondary2{
    padding: 20px 39px 20px 39px;
    border-radius: 85px ;
    border:none;
    border: 2px solid #00B6F0;
    background-color: white;

    
}


.secondary2 a {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #00B6F0;
}


.opentype-container{
    position: relative;
    display: flex;
    padding: 100px 118.5px;
    
}

.opentype{
    margin-top: 70px;
}

.opentype-laptop{
    z-index: 10;
    width:100%;
    height:auto;
    object-fit: cover;
    object-position: center;
}
.opentype-blue{
    position: absolute;
    right: 0;
    top: 40px;
    max-width: 100%;
    height: 100%;
    
}

.opentype h3{
    font-size: 2.25rem;
    font-weight: 450;
    line-height: 42px;
    letter-spacing: 0.1px;
    color:#20262A;
    text-align: left;
}

.opentype p{
    text-align: left;
    color:#5C5C5C;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 38px;
    letter-spacing: 0.2px;
}

.opentype a{
    color:#00B6F0;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 30px;
    cursor: pointer;
    
}


.variable-parent{
    position: relative;
}
.variable-container{
    /* position: relative; */
    display: flex;
    padding: 0px 158px;  
    
}
.variable-yellow{
    position: absolute;
    max-width: 100%;
    height: 100%;
}
.variable-code{
    z-index: 900;
    margin-top: 40px;
    width:100%;
    height:auto;
    object-fit: cover;
    object-position: center;
}


.variable{
    margin-top: 100px;
    
}

.variable h3{
    font-size: 2.25rem;
    font-weight: 450;
    line-height: 42px;
    letter-spacing: 0.1px;
    color:#20262A;
    text-align: left;
}



.variable p{
    text-align: left;
    color:#5C5C5C;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 38px;
    letter-spacing: 0.2px;
}


.variable a{
    color:#00B6F0;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 20px;
    cursor: pointer;
}

/* .grand{ 
    margin: 0 auto;
}
*/



.partthree h3{
    margin-top: 72px;
     text-align: center;
     font-size: 3.5rem;
     font-weight: 700;
     line-height: 65px;
     letter-spacing: 0.2px;
     color:#20262A;
}

.partthree p{
    text-align: center;
    font-weight: 450;
    font-size: 1.188rem;
    color:#5C5C5C;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 7px;
}

.partthree .progress{
    width:757px;
    height:15px;
    background-color:#F3F5F8; 
    position: relative;
    margin: 0 auto;
    margin-top: 52px;
    border-radius: 5px;
}

.partthree .progressbar{
    width: 377.65px;
    height: 15px;
    gap: 0px;
    opacity: 0px;
    background: #00B6F0;
    border-radius: 5px;


}

.facenum{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.facebook{
    font-family: roboto;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color:#505D6F;
}


.numbers{
    font-family: roboto;
    color:#505D70;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 24px;

}

.getstarted{
   width:266px;
   background-color: #00B6F0;
   padding: 20px 36px 20px 36px;
   border:none;
   border-radius: 85px;
   margin-left: 40%;
   margin-right: 40%; 
   margin-top: 52px;
}

.getstarted a {
    color:white;
    list-style: none;
    text-decoration: none;
    font-family: Circular Std;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    

}

.testimonytime{
    text-align: center;
    margin-top: 169px;
    font-size: 2.25rem;
    letter-spacing: 0.1px;
    line-height: 42px;
    font-weight: 450;
    color:#20262A;
}

.ibmlogo{
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 62px;
    margin-bottom: 60px;
}

.paragraph{
    width:530px;
    font-size: 1.188rem;
    margin:0 auto;
    margin-top: 60px;
    
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap:10px;
    width:100%;
    height:auto;
    object-fit: cover;
    object-position: center;
}


.name .heading{
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 20px;
    letter-spacing: 0.2px;
    color:#20262A;
}

.name h6{
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 28px;
    letter-spacing: 0.1px;
    color:#5C5C5C;
    
}

.alltestimony{
    width: 255px; 
    margin-top: 50px;
    background-color: #00B6F0;
    border: none;
    padding: 30px 50px 30px 50px;
    border-radius: 85px;
    margin-left: 40%;
    margin-right: 40%
   }

.alltestimony a{
    width:135px;
    font-size: 1.125rem;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-decoration: none;
    color:white;
}   

.smallebottomcorner{
    position:relative;
}
.smalle{
    position: absolute;
    /* width: 122.35px; */
    top:-210px;
    /* top:-180px; */
    /* left:200px; */
    left:140px;
    max-width: 100%;
    height: 100%;

    
}


.bottomcorner{
    position: absolute;
    width: 562px;
    /* top: 3900px; */
    right:-225px;
    bottom:100px;
    /* left: 950px; */
    z-index: -10;
    max-width: 100%;
    height: 100%;
    
    


}

.partfour{
    margin-top: 100px;
    max-width: 1282px;
    height:496px;
    background-color:#182333 ;
}

/* .col{ 
    display:flex;
    justify-content: space-evenly;
    align-items: center;
/* } */

.pricing h1{
    font-size: 3.5rem;
    font-weight: 700;
    color:white;
    line-height: 65px;
    letter-spacing: 0.2px;
    margin-top: 100px;
    
}

.pricing p{
    font-weight: 450;
    font-size: 1.188rem;
    line-height: 30px;
    letter-spacing: 0.2px;
    color:white;
    margin-top: 16px;
}

/* .day{ 
    margin-top: 110px;
}
 */

/* .day p{ 
    color:white;
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 28px;
    letter-spacing: 0.2px;
}

  */

/* .flexing{ 
    display:flex;

}
 */


.flexcontainer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}

.free{
    margin-top: 20px;
}

.flex{
    display: flex;
}

.span span{
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 78px;
    letter-spacing: 0.2px;
    color:#F3CD03;
} 







/* old */
/* .month p{ 
font-family: Circular Std;
font-size: 1.5rem;
font-weight: 450;
line-height: 38px;
letter-spacing: 0.2px;
text-align: left;
}

*/
/* .most{ 
    font-size: 1.5rem;
font-weight: 450;
line-height: 38px;
letter-spacing: 0.2px;
padding-right: 0px;
text-align: left;
}
*/ 

/*  
.get button{
    width:196px;
    background-color: #00B6F0;
    padding: 20px 38px 20px 38px;
    border: none;
    border-radius: 85px;
}

.get a {
    text-decoration: none;
    color:white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}

*/
.partfive{
    width:100%;
    height: 443px;
    background: linear-gradient(180deg, #E9FAFF 0%, rgba(233, 250, 255, 0) 100%);
    
}

.flexfooter{
    display:flex;
    gap:91px;
    padding-left: 100px; 
    justify-content: left;
    align-items: center;
    
    
    
    

}

.we h4{
    margin-bottom: 100px;
    font-size: 2.25rem;
    line-height: 42px;
    letter-spacing: 0.1px;
    font-weight: 450;
    color: #20262A;
}

.para{
    margin-top: 86px;
    
}

.Being {
    font-size: 1.188rem;
    font-weight: 450;
    line-height: 30px;
    letter-spacing: 0.2px;
    padding: 10px;   
    color:#5C5C5C;
}

.para button{
    width:192px;
    background-color: #00B6F0;
    border:none;
    margin-left: 10px;
    padding: 20px 36px 20px 36px;
    border-radius: 85px;
    margin-top: 20px;

}


.para a {
    text-decoration: none;
    color:white;
    font-size: 1.125rem;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 700;
}


footer{
    background-color: white;
    
}

.logoimage p{
   padding-left: 10px;
   font-weight: 450;
   font-size: 1.125rem;
   color:#5C5C5C;
   line-height: 28px;
   letter-spacing: 0.1px;
}

.foot{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
} 
.navlinks{
    display: flex;
    justify-content: space-evenly;
    gap:40px;
    list-style: none;
   
    
}

.navlinks a{
    text-decoration: none; 
    font-size: 1.125rem;
    line-height: 20px;
    font-weight: 450;
    letter-spacing: 0.2px;
    cursor: pointer;
    color:#20262A;
}

.icon{
   cursor: pointer; 
}
.smallscreen{
    display:none;
}
.smallblue{
    display:none;
}

.yellowsmall{
    display:none;
}

.hamburger{
    display:none;
}

.smallscreenshot{
   display:none;
}

@media only screen and (max-width: 768px) {
        /* CSS rules for screens smaller than or equal to 768px */ 
          header{
    
                display: flex;
                justify-content:space-between ;
                align-items: center;
                width:90%;
                margin-top: 20px;
               }

           header img{
                margin-left: 50px; 
                cursor: pointer;
                margin-bottom:10px ;
             }

            .links li{
                display:none;
            }

            .primary-cta{
                padding: 20px 36px 20px 36px;
                border-radius: 85px ;
                border:none;
                border: 1px solid #00B6F0;
                background-color: white;
                margin-right: 30px;
            }
            .primary-cta a{
                color:#00B6F0;
                text-decoration: none;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.2px;
            }
            

             .hamburger{
                display:block;
             }
             
             .hero h1{
                font-size: 3.875rem;
             }
              
             .screen{
                /* margin-top: 30px; */
             }



          }
    

      
      























@media only screen and (max-width: 375px) {
   header{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width:30%;
    margin-top: 20px;
   }
   
    header img{
        margin-left: 5px;
        cursor: pointer;
        margin-bottom:5px ;
        width: 120px;
        height: auto;

     }
     
     .links li{
        display:none;
     }

     .primary-cta{
        padding:20px 36px;
        border-radius: 85px;
        margin-left: 45px;
        border:none;
        border: 1px solid #00B6F0;
        background-color: white;
        /* display:block; */
     }

     .primary-cta a{
        color:#00B6F0;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.2px;
        width: 48px;
        height: 20px;
}
     .hamburger{
        display: block;
        margin-left: 25px;
     }
    
     .hero .part1 h1{ 
     font-size: 2.5rem;
     font-weight: 700;
     line-height: 50px;
     letter-spacing: 0.2px;
     text-align: center;
     color:#112D57;
     margin-bottom: 20px;

     }

.hero .part1 p{
    display:none;
}



     .hero .part1 .smallscreen{
     display: block;
     font-size: 24px;
     font-weight: 450;
     line-height: 38px;
     letter-spacing: 0.2px;
     text-align: center;
     margin-top: 28px;


     }

     .screen{
        display:none;
     }
     .smallscreenshot{
        position: relative;
        display:block;
        z-index: 1;
         width:350px;
        height:316px;

     }








     

     .scaler{
        display:none;
     }

     .vector{
        display:none;
     }
     
     .smallblue{
        display:block;
        position: absolute;
        left: 0;
        top:90px;
        bottom:1px;
        max-width: 100%;
        height: 100%;
        /* z-index: -1px; */

     }
    
     .yellowsmall{
        display: block;
        position: absolute;
        right: 0;
        bottom: 0px;
        top:320px;
        max-width: 100%;
        height: 80%;

     }


}