*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
     overflow-x: hidden;
     max-width:  1,282px;
     
}
header{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width:90%;
    padding: 10px;
    margin-top: 20px;
}

header img{
   margin-left: 50px;
   cursor: pointer;
   margin-bottom:10px ;
}

 .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;

}
.links li{
    list-style: none;
    
}
.links li a{
text-decoration: none;
color:#20262A;

}

.primary-cta{
    padding: 20px 36px 20px 36px;
    border-radius: 85px ;
    border:none;
    border: 1px solid #00B6F0;
    background-color: white;
}
.primary-cta a{
    color:#00B6F0;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.hero{
    margin: 0 auto;
    
}

.part1{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(#FFFFFF38,#00e1c77a,#FFFFFF);
    position: relative;
}

.part1 h1{
    font-size: 4.5rem;
    font-weight: 900;
    margin-top: 100px;
    line-height: 78px;
    letter-spacing: 0.2px;
    text-align: center;
}

.part1 p{
    text-align: center;
    font-weight: 450;
    font-size: 1.5rem;
    line-height: 38px;
    margin-top: 27px;
   color: #5C5C5C;
}

.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap:20px;
    position: relative;
}

.primary{
    border-radius: 85px;
    background-color: #00B6F0;
    border:none;
    padding: 20px 36px 20px 36px;
}

.primary a {
    text-decoration: none;
    color:white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.secondary{
    border-radius: 85px;
    background-color:white;
    border:none;
    padding: 20px 36px 20px 36px;
}

.secondary a {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color:#20262A;
}

.vector{
    position: absolute;
    left: 0;
    bottom:10px;
    
}

.scaler{
    position: absolute;
    right: 0;
    bottom: 0px;
    /* left:1000px; */
    /* top: 450px; */
}

.screen{
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
    position: absolute;
    top:350px;
    }

    /* .screen img{
        position: absolute;
        bottom:1px;
        top:
    } */
.parttwo .test{
    margin-top: 700px;
    text-align: center;
    color:#F3CD03;
    font-size:2.25rem ;
    font-weight: 450;
    /* position: relative; */
}

 .parttwo h1{
    margin-top: 17px;
    font-weight: 700;
    font-size:3.5rem;
    text-align: center;
}

.parttwo p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    line-height: 38px;
    font-weight: 450;
    letter-spacing: 0.2px;
    color:#5C5C5C;
}

.btn2{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 59px;
}

.primary1{
    border-radius: 85px;
    background-color: #00B6F0;
    border:none;
    padding: 20px 40px 20px 40px;
}

.primary1 a {
    text-decoration: none;
    color:white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}


.secondary2{
    padding: 20px 39px 20px 39px;
    border-radius: 85px ;
    border:none;
    border: 2px solid #00B6F0;
    background-color: white;

    
}


.secondary2 a {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #00B6F0;
}


.opentype-container{
    position: relative;
    display: flex;
    padding: 100px 118.5px;
}
.opentype-laptop{
    z-index: 10;
}
.opentype-blue{
    position: absolute;
    right: 0;
    top: 40px;
}

.opentype h3{
    font-size: 2.25rem;
    font-weight: 450;
    line-height: 42px;
    letter-spacing: 0.1px;
    color:#20262A;
    text-align: left;
}

.opentype p{
    text-align: left;
    color:#5C5C5C;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 38px;
    letter-spacing: 0.2px;
}

.opentype a{
    color:#00B6F0;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 20px;
    cursor: pointer;
}


.variable-parent{
    position: relative;
}
.variable-container{
    /* position: relative; */
    display: flex;
    padding: 0px 158px;  
    
}
.variable-yellow{
    position: absolute;
}
.variable-code{
    z-index: 900;
    margin-top: 40px;
}


.variable{
    margin-top: 100px;
    
}

.variable h3{
    font-size: 2.25rem;
    font-weight: 450;
    line-height: 42px;
    letter-spacing: 0.1px;
    color:#20262A;
    text-align: left;
}



.variable p{
    text-align: left;
    color:#5C5C5C;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 38px;
    letter-spacing: 0.2px;
}


.variable a{
    color:#00B6F0;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 20px;
    cursor: pointer;
}

/* .grand{ 
    margin: 0 auto;
}
*/



.partthree h3{
    margin-top: 72px;
     text-align: center;
     font-size: 3.5rem;
     font-weight: 700;
     line-height: 65px;
     letter-spacing: 0.2px;
     color:#20262A;
}

.partthree p{
    text-align: center;
    font-weight: 450;
    font-size: 1.188rem;
    color:#5C5C5C;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 7px;
}

.partthree .progress{
    width:757px;
    height:15px;
    background-color:#F3F5F8; 
    position: relative;
    margin: 0 auto;
    margin-top: 52px;
    border-radius: 5px;
}

.partthree .progressbar{
    width: 377.65px;
    height: 15px;
    gap: 0px;
    opacity: 0px;
    background: #00B6F0;
    border-radius: 5px;


}

.facenum{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.facebook{
    font-family: roboto;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color:#505D6F;
}


.numbers{
    font-family: roboto;
    color:#505D70;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 24px;

}

.getstarted{
   width:266px;
   background-color: #00B6F0;
   padding: 20px 36px 20px 36px;
   border:none;
   border-radius: 85px;
   margin-left: 40%;
   margin-right: 40%; 
   margin-top: 52px;
}

.getstarted a {
    color:white;
    list-style: none;
    text-decoration: none;
    font-family: Circular Std;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    

}

.testimonytime{
    text-align: center;
    margin-top: 169px;
    font-size: 2.25rem;
    letter-spacing: 0.1px;
    line-height: 42px;
    font-weight: 450;
    color:#20262A;
}

.ibmlogo{
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 62px;
    margin-bottom: 60px;
}

.paragraph{
    width:530px;
    font-size: 1.188rem;
    margin:0 auto;
    margin-top: 60px;
    
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap:10px;
}


.name .heading{
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 20px;
    letter-spacing: 0.2px;
    color:#20262A;
}

.name h6{
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 28px;
    letter-spacing: 0.1px;
    color:#5C5C5C;
    
}

.alltestimony{
    width: 255px; 
    margin-top: 50px;
    background-color: #00B6F0;
    border: none;
    padding: 30px 50px 30px 50px;
    border-radius: 85px;
    margin-left: 40%;
    margin-right: 40%
   }

.alltestimony a{
    width:135px;
    font-size: 1.125rem;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-decoration: none;
    color:white;
}   


.smalle{
    position: absolute;
    width: 122.35px;
    top: 3800px;
    left: 120px;
    angle: 52.82 deg;
    
}


.bottomcorner{
    position: absolute;
    width: 562px;
    top: 3900px;
    left: 950px;
    z-index: -10;
    
    


}

.partfour{
    margin-top: 100px;
    max-width: 1282px;
    height:496px;
    background-color:#182333 ;
}